/ReportesUnificados
/ReportesSeparados
ReportesUnificados/cañar_ReporteUnificado.xlsx
ReportesUnificados/loja_ReporteUnificado.xlsx
ReportesUnificados/macas_ReporteUnificado.xlsx
ReportesUnificados/machala_ReporteUnificado.xlsx
ReportesUnificados/zamora_ReporteUnificado.xlsx

/ReportesSeparados
ReportesSeparados/.DS_Store
ReportesUnificados/.DS_Store
/ReportesOcupacion
__pycache__/main2.cpython-313.pyc
__pycache__/main2.cpython-313.pyc
__pycache__/main3.cpython-313.pyc
config_ocupacion.json
config_procesamiento.json
